/ {
    custom_x_scaler: custom_x_scaler {
        compatible = "zmk,input-processor-scaler";
        #input-processor-cells = <2>;
        type = <2>;
        codes = <0>;
    };

    custom_y_scaler: custom_y_scaler {
        compatible = "zmk,input-processor-scaler";
        #input-processor-cells = <2>;
        type = <2>;
        codes = <1>;
    };

    custom_scroll_mapper: custom_scroll_mapper {
        compatible = "zmk,input-processor-code-mapper";
        #input-processor-cells = <0>;
        type = <2>;
        map = <0 6>, <1 8>;
    };

    trackball_listener {
        compatible = "zmk,input-listener";
        
        /* いつも通りの呼び出し方でOKです */
        device = <&trackball>;

        scroll_layer_7 {
            layers = <7>; 
            
            /* ▼ 小人キーと完全に同じ最強セッティング！ */
            input-processors = 
                <&custom_x_scaler 1 150>,
                <&custom_y_scaler 1 45>,
                <&custom_scroll_mapper>;
        };
    };
};

